.breadcrumbs {
  overflow-x: auto;

  $block-name:                &;
  // #{$block-name}__element

  &__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: $screen-md) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }


  &__item {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
    margin-right: 8px;
    margin-bottom: 8px;
    white-space: nowrap;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '/';
      display: inline-block;
      margin-left: 8px;
      font-weight: 500;
      color: $text-color;
    }

    &:last-child {
      //overflow-x: auto;
      //text-overflow: ellipsis;

      #{$block-name}__link {
        text-decoration: none;
        color: $text-color;
      }
    }

    &--home {

      #{$block-name}__link {
        position: relative;
        padding-left: 28px;

        &::before {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-55%);
          width: 20px;
          height: 20px;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: svg-load('../blocks/sprite-svg/svg/home.svg', stroke=$text-muted);
          transition: background $transition-time;
        }

        &:hover,
        &:focus {

          &::before {
            background-image: svg-load('../blocks/sprite-svg/svg/home.svg', stroke=$text-color);
          }
        }
      }
    }
  }

  &__link {
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: $text-muted;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}
